body{
    background-color: #EAEAEA;
    color: #5F3A90;
    text-align: center;
}

.navbar{
    background-color: #B897E4;
    color: #5F3A90;
    display: inline-block;
    width: 20vw;
    height: 30px;
    border: solid 2px;
    border-color: #5F3A90;
    border-radius: 20px;
    padding-top: 2px;
    margin: 5px;
}

.navbar a{
    display: block;
    text-decoration: none;
    color: #7646AB;
    width: 100%;
    height: 100%;
}

.navbar:hover{
    background-color: #7646AB;
}
.navbar:hover a{
    color: #B897E4;
}

h1{
    color: #7646AB;
    font-size: 50px;
    text-decoration: underline;
}

footer{
    clear: both;
    display: block;
    background-color: #B897E4;
    text-align: center;
    margin-top: 30px;

}

h3, h1{
    margin: 20px;
}

.opis a{
    text-decoration: none;
}

.opis{
    margin-left: 100px;
    margin-right: 100px;
}

#sortAsc, #sortDesc, .extration_button{
    background-color: #B897E4;
    border-color: #5F3A90;
    color: #5F3A90;
    border: solid 2px;
    border-radius: 20px;
}

#sortAsc:hover, #sortDesc:hover, .extration_button:hover{
    background-color: #5F3A90;
    color:#B897E4
}

.extraction_form{
    margin: 30px;
}

.form-control{
    text-align: center;
}

.about p{
    margin: 30px;
}

.hobbies {
    display: block;
    float: right;
    width: 98%;
    margin: 2px;
    padding: 5px;
}

.dance {
    position: relative;
    padding-left: 2%;
    float: left;
    width: 49%;
    text-align: center;
}

.photo1 img{
    float:left;
}

.photo2 img{
    float:right;
}

.F1 {
    position: relative;
    float: right;
    width: 50%;
    text-align: center;
}

.about img {
    height: 45vh;
}