{% extends 'base.html' %}
{% block content %}
<div class="opis">
    <h3>Cel aplikacji:</h3>
    <p>Celem tej aplikacji jest pobranie opinii o produktach z serwisu <a href="http://Ceneo.pl">Ceneo.pl</a> oraz wyświetlanie tych opinii i podstawowych statystyk o nich.</p>
    <h3>Opis działania aplikacji:</h3>
    <p>Aplikacja pobiera opinie o produktach z serwisu Ceneo.pl na podstawie indywidualnych kodów produktów. Pobrane opinie są wyświetlane użytkownikowi. Aplikacja prezentuje również podstawowe statystyki dotyczące poszczególnych opinii oraz umożliwia ich sortowanie i filtrowanie</p>
    <h3>Zastosowane biblioteki:</h3>
    <p>Flask, BeautifulSoup4, Pandas, NumPy, Requests, JSON, os, io, jQuery</p>
    <h3>Zastosowane podejścia:</h3>
    <p>Strukturalne, Proceduralne, Zorientowane obiektowo, Stałe dosłowne w kodzie, Prosty tekstowy interfejs, Webowy interfejs aplikacji</p>
</div>
    {% endblock %}